################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ConsoleAppWithUnitTest/bin/Debug/net5.0
/ConsoleAppWithUnitTest/obj
/UnitTesting/bin
/UnitTesting/obj
